<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="rating">
                <div class="rating__meta">
                    <a href="/+{{ rating.author.username }}">
                        +{{ rating.author.username }}
                    </a>
                </div>

                <div class="rating__content">
                    <a href="/rating_details/{{ rating.id }}">
                    {{ rating.content }}
                    </a>
                </div>
                <br>

                <div class="rating__content">
                    <b>Rating:</b> {{ rating.average_rating }}
                </div>

            </div>
        </div>
    </div>
</div>